<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table border="1">
            <tr>
                <td>Name</td>
                <td><input required type="text" name="txt_name"  value="{{Data.seller_name}} "id=""  title="Name Allows Only Alphabets,Spaces and First Letter Must Be Capital Letter" pattern="^[A-Z]+[a-zA-Z ]*$"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input required type="email" name="txt_email" value="{{Data.seller_email}}"></td>
            </tr>
            <tr>
                <td>Contact</td>
                <td><input required type="number" name="txt_contact" value="{{Data.seller_contact}}" id="" pattern="[7-9]{1}[0-9]{9}" 
                title="Phone number with 7-9 and remaing 9 digit with 0-9"></td>
            </tr>
            <tr>
                <td>Establishdate</td>
                <td><input required type="date" name="txt_date" value="{{Data.estd_date}}" id=""></td>
            </tr>
            <tr>
                <td>License No</td>
                <td><input required type="number" name="txt_lno" value="{{Data.licence_num}}" id=""></td>
            </tr>
           
            <tr>
                <td>Owner Name</td>
                <td><input required type="text" name="txt_on" value="{{Data.owner_name}}" id=""></td>
            </tr>
            
            <tr>
                <td colspan="2" align="center">
               <input type="submit" value="Update">
            </td>
            </tr>
        </table>
    </form>
</body>
</html>
{% if msg %}
<script>alert("{{msg}}")
window.location="{% url 'Seller:Profile' %}"
</script>
{% endif %}